directMarket-webImp/web/WEB-INF/wsdl/localhost_8280/ilineorden.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Logica_Clases/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Logica_Clases/" name="Ws_ILineaOrdenService">
<types>
<xsd:schema>
<xsd:import namespace="http://Logica_Clases/" schemaLocation="http://localhost:8280/ilineorden?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="createLineaOrden">
<part name="parameters" element="tns:createLineaOrden"></part>
</message>
<message name="createLineaOrdenResponse">
<part name="parameters" element="tns:createLineaOrdenResponse"></part>
</message>
<message name="IntcreateLineaOrden">
<part name="parameters" element="tns:IntcreateLineaOrden"></part>
</message>
<message name="IntcreateLineaOrdenResponse">
<part name="parameters" element="tns:IntcreateLineaOrdenResponse"></part>
</message>
<message name="findLineaOrdenEntities">
<part name="parameters" element="tns:findLineaOrdenEntities"></part>
</message>
<message name="findLineaOrdenEntitiesResponse">
<part name="parameters" element="tns:findLineaOrdenEntitiesResponse"></part>
</message>
<message name="findLineaOrden">
<part name="parameters" element="tns:findLineaOrden"></part>
</message>
<message name="findLineaOrdenResponse">
<part name="parameters" element="tns:findLineaOrdenResponse"></part>
</message>
<portType name="Ws_ILineaOrden">
<operation name="createLineaOrden">
<input wsam:Action="http://Logica_Clases/Ws_ILineaOrden/createLineaOrdenRequest" message="tns:createLineaOrden"></input>
<output wsam:Action="http://Logica_Clases/Ws_ILineaOrden/createLineaOrdenResponse" message="tns:createLineaOrdenResponse"></output>
</operation>
<operation name="IntcreateLineaOrden">
<input wsam:Action="http://Logica_Clases/Ws_ILineaOrden/IntcreateLineaOrdenRequest" message="tns:IntcreateLineaOrden"></input>
<output wsam:Action="http://Logica_Clases/Ws_ILineaOrden/IntcreateLineaOrdenResponse" message="tns:IntcreateLineaOrdenResponse"></output>
</operation>
<operation name="findLineaOrdenEntities">
<input wsam:Action="http://Logica_Clases/Ws_ILineaOrden/findLineaOrdenEntitiesRequest" message="tns:findLineaOrdenEntities"></input>
<output wsam:Action="http://Logica_Clases/Ws_ILineaOrden/findLineaOrdenEntitiesResponse" message="tns:findLineaOrdenEntitiesResponse"></output>
</operation>
<operation name="findLineaOrden">
<input wsam:Action="http://Logica_Clases/Ws_ILineaOrden/findLineaOrdenRequest" message="tns:findLineaOrden"></input>
<output wsam:Action="http://Logica_Clases/Ws_ILineaOrden/findLineaOrdenResponse" message="tns:findLineaOrdenResponse"></output>
</operation>
</portType>
<binding name="Ws_ILineaOrdenPortBinding" type="tns:Ws_ILineaOrden">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="createLineaOrden">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="IntcreateLineaOrden">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="findLineaOrdenEntities">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="findLineaOrden">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="Ws_ILineaOrdenService">
<port name="Ws_ILineaOrdenPort" binding="tns:Ws_ILineaOrdenPortBinding">
<soap:address location="http://localhost:8280/ilineorden"></soap:address>
</port>
</service>
</definitions>