ClienteWebPrueba/src/conf/xml-resources/web-service-references/iordencompra/wsdl/localhost_8280/iordencompra.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://LogicaClasesNew/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://LogicaClasesNew/" name="WsIordenCompraService">
<types>
<xsd:schema>
<xsd:import namespace="http://LogicaClasesNew/" schemaLocation="http://localhost:8280/iordencompra?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="createOrdenCompra">
<part name="parameters" element="tns:createOrdenCompra"></part>
</message>
<message name="createOrdenCompraResponse">
<part name="parameters" element="tns:createOrdenCompraResponse"></part>
</message>
<message name="createOrdenCompra2">
<part name="parameters" element="tns:createOrdenCompra2"></part>
</message>
<message name="createOrdenCompra2Response">
<part name="parameters" element="tns:createOrdenCompra2Response"></part>
</message>
<message name="addLineaToOrdenCompra">
<part name="parameters" element="tns:addLineaToOrdenCompra"></part>
</message>
<message name="addLineaToOrdenCompraResponse">
<part name="parameters" element="tns:addLineaToOrdenCompraResponse"></part>
</message>
<message name="findOrdenCompra">
<part name="parameters" element="tns:findOrdenCompra"></part>
</message>
<message name="findOrdenCompraResponse">
<part name="parameters" element="tns:findOrdenCompraResponse"></part>
</message>
<message name="findOrdenCompraEntities">
<part name="parameters" element="tns:findOrdenCompraEntities"></part>
</message>
<message name="findOrdenCompraEntitiesResponse">
<part name="parameters" element="tns:findOrdenCompraEntitiesResponse"></part>
</message>
<message name="editOrdenCompra2">
<part name="parameters" element="tns:editOrdenCompra2"></part>
</message>
<message name="editOrdenCompra2Response">
<part name="parameters" element="tns:editOrdenCompra2Response"></part>
</message>
<message name="eliminarOrdenCompra">
<part name="parameters" element="tns:eliminarOrdenCompra"></part>
</message>
<message name="eliminarOrdenCompraResponse">
<part name="parameters" element="tns:eliminarOrdenCompraResponse"></part>
</message>
<message name="getListadoLineasXord">
<part name="parameters" element="tns:getListadoLineasXord"></part>
</message>
<message name="getListadoLineasXordResponse">
<part name="parameters" element="tns:getListadoLineasXordResponse"></part>
</message>
<portType name="WsIordenCompra">
<operation name="createOrdenCompra">
<input wsam:Action="http://LogicaClasesNew/WsIordenCompra/createOrdenCompraRequest" message="tns:createOrdenCompra"></input>
<output wsam:Action="http://LogicaClasesNew/WsIordenCompra/createOrdenCompraResponse" message="tns:createOrdenCompraResponse"></output>
</operation>
<operation name="createOrdenCompra2">
<input wsam:Action="http://LogicaClasesNew/WsIordenCompra/createOrdenCompra2Request" message="tns:createOrdenCompra2"></input>
<output wsam:Action="http://LogicaClasesNew/WsIordenCompra/createOrdenCompra2Response" message="tns:createOrdenCompra2Response"></output>
</operation>
<operation name="addLineaToOrdenCompra">
<input wsam:Action="http://LogicaClasesNew/WsIordenCompra/addLineaToOrdenCompraRequest" message="tns:addLineaToOrdenCompra"></input>
<output wsam:Action="http://LogicaClasesNew/WsIordenCompra/addLineaToOrdenCompraResponse" message="tns:addLineaToOrdenCompraResponse"></output>
</operation>
<operation name="findOrdenCompra">
<input wsam:Action="http://LogicaClasesNew/WsIordenCompra/findOrdenCompraRequest" message="tns:findOrdenCompra"></input>
<output wsam:Action="http://LogicaClasesNew/WsIordenCompra/findOrdenCompraResponse" message="tns:findOrdenCompraResponse"></output>
</operation>
<operation name="findOrdenCompraEntities">
<input wsam:Action="http://LogicaClasesNew/WsIordenCompra/findOrdenCompraEntitiesRequest" message="tns:findOrdenCompraEntities"></input>
<output wsam:Action="http://LogicaClasesNew/WsIordenCompra/findOrdenCompraEntitiesResponse" message="tns:findOrdenCompraEntitiesResponse"></output>
</operation>
<operation name="editOrdenCompra2">
<input wsam:Action="http://LogicaClasesNew/WsIordenCompra/editOrdenCompra2Request" message="tns:editOrdenCompra2"></input>
<output wsam:Action="http://LogicaClasesNew/WsIordenCompra/editOrdenCompra2Response" message="tns:editOrdenCompra2Response"></output>
</operation>
<operation name="eliminarOrdenCompra">
<input wsam:Action="http://LogicaClasesNew/WsIordenCompra/eliminarOrdenCompraRequest" message="tns:eliminarOrdenCompra"></input>
<output wsam:Action="http://LogicaClasesNew/WsIordenCompra/eliminarOrdenCompraResponse" message="tns:eliminarOrdenCompraResponse"></output>
</operation>
<operation name="getListadoLineasXord">
<input wsam:Action="http://LogicaClasesNew/WsIordenCompra/getListadoLineasXordRequest" message="tns:getListadoLineasXord"></input>
<output wsam:Action="http://LogicaClasesNew/WsIordenCompra/getListadoLineasXordResponse" message="tns:getListadoLineasXordResponse"></output>
</operation>
</portType>
<binding name="WsIordenCompraPortBinding" type="tns:WsIordenCompra">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="createOrdenCompra">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="createOrdenCompra2">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="addLineaToOrdenCompra">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="findOrdenCompra">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="findOrdenCompraEntities">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="editOrdenCompra2">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="eliminarOrdenCompra">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getListadoLineasXord">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="WsIordenCompraService">
<port name="WsIordenCompraPort" binding="tns:WsIordenCompraPortBinding">
<soap:address location="http://localhost:8280/iordencompra"></soap:address>
</port>
</service>
</definitions>