ClienteWebPrueba/src/conf/xml-resources/web-service-references/icategoria/wsdl/localhost_8280/icategoria.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://LogicaClasesNew/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://LogicaClasesNew/" name="WsIcategoriaService">
<types>
<xsd:schema>
<xsd:import namespace="http://LogicaClasesNew/" schemaLocation="http://localhost:8280/icategoria?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="findCategoria">
<part name="parameters" element="tns:findCategoria"></part>
</message>
<message name="findCategoriaResponse">
<part name="parameters" element="tns:findCategoriaResponse"></part>
</message>
<message name="editCategoria">
<part name="parameters" element="tns:editCategoria"></part>
</message>
<message name="editCategoriaResponse">
<part name="parameters" element="tns:editCategoriaResponse"></part>
</message>
<message name="getTieneProd">
<part name="parameters" element="tns:getTieneProd"></part>
</message>
<message name="getTieneProdResponse">
<part name="parameters" element="tns:getTieneProdResponse"></part>
</message>
<message name="createCategoria">
<part name="parameters" element="tns:createCategoria"></part>
</message>
<message name="createCategoriaResponse">
<part name="parameters" element="tns:createCategoriaResponse"></part>
</message>
<message name="createCategoriacpadre">
<part name="parameters" element="tns:createCategoriacpadre"></part>
</message>
<message name="createCategoriacpadreResponse">
<part name="parameters" element="tns:createCategoriacpadreResponse"></part>
</message>
<message name="addProductoCategoria">
<part name="parameters" element="tns:addProductoCategoria"></part>
</message>
<message name="addProductoCategoriaResponse">
<part name="parameters" element="tns:addProductoCategoriaResponse"></part>
</message>
<message name="findCategoriaEntities">
<part name="parameters" element="tns:findCategoriaEntities"></part>
</message>
<message name="findCategoriaEntitiesResponse">
<part name="parameters" element="tns:findCategoriaEntitiesResponse"></part>
</message>
<message name="addCatHijaToCatPadre">
<part name="parameters" element="tns:addCatHijaToCatPadre"></part>
</message>
<message name="addCatHijaToCatPadreResponse">
<part name="parameters" element="tns:addCatHijaToCatPadreResponse"></part>
</message>
<message name="RemoveProductoCategoria">
<part name="parameters" element="tns:RemoveProductoCategoria"></part>
</message>
<message name="RemoveProductoCategoriaResponse">
<part name="parameters" element="tns:RemoveProductoCategoriaResponse"></part>
</message>
<message name="getListadoProductosXcat">
<part name="parameters" element="tns:getListadoProductosXcat"></part>
</message>
<message name="getListadoProductosXcatResponse">
<part name="parameters" element="tns:getListadoProductosXcatResponse"></part>
</message>
<message name="getListadoCategoriaXcate">
<part name="parameters" element="tns:getListadoCategoriaXcate"></part>
</message>
<message name="getListadoCategoriaXcateResponse">
<part name="parameters" element="tns:getListadoCategoriaXcateResponse"></part>
</message>
<portType name="WsIcategoria">
<operation name="findCategoria">
<input wsam:Action="http://LogicaClasesNew/WsIcategoria/findCategoriaRequest" message="tns:findCategoria"></input>
<output wsam:Action="http://LogicaClasesNew/WsIcategoria/findCategoriaResponse" message="tns:findCategoriaResponse"></output>
</operation>
<operation name="editCategoria">
<input wsam:Action="http://LogicaClasesNew/WsIcategoria/editCategoriaRequest" message="tns:editCategoria"></input>
<output wsam:Action="http://LogicaClasesNew/WsIcategoria/editCategoriaResponse" message="tns:editCategoriaResponse"></output>
</operation>
<operation name="getTieneProd">
<input wsam:Action="http://LogicaClasesNew/WsIcategoria/getTieneProdRequest" message="tns:getTieneProd"></input>
<output wsam:Action="http://LogicaClasesNew/WsIcategoria/getTieneProdResponse" message="tns:getTieneProdResponse"></output>
</operation>
<operation name="createCategoria">
<input wsam:Action="http://LogicaClasesNew/WsIcategoria/createCategoriaRequest" message="tns:createCategoria"></input>
<output wsam:Action="http://LogicaClasesNew/WsIcategoria/createCategoriaResponse" message="tns:createCategoriaResponse"></output>
</operation>
<operation name="createCategoriacpadre">
<input wsam:Action="http://LogicaClasesNew/WsIcategoria/createCategoriacpadreRequest" message="tns:createCategoriacpadre"></input>
<output wsam:Action="http://LogicaClasesNew/WsIcategoria/createCategoriacpadreResponse" message="tns:createCategoriacpadreResponse"></output>
</operation>
<operation name="addProductoCategoria">
<input wsam:Action="http://LogicaClasesNew/WsIcategoria/addProductoCategoriaRequest" message="tns:addProductoCategoria"></input>
<output wsam:Action="http://LogicaClasesNew/WsIcategoria/addProductoCategoriaResponse" message="tns:addProductoCategoriaResponse"></output>
</operation>
<operation name="findCategoriaEntities">
<input wsam:Action="http://LogicaClasesNew/WsIcategoria/findCategoriaEntitiesRequest" message="tns:findCategoriaEntities"></input>
<output wsam:Action="http://LogicaClasesNew/WsIcategoria/findCategoriaEntitiesResponse" message="tns:findCategoriaEntitiesResponse"></output>
</operation>
<operation name="addCatHijaToCatPadre">
<input wsam:Action="http://LogicaClasesNew/WsIcategoria/addCatHijaToCatPadreRequest" message="tns:addCatHijaToCatPadre"></input>
<output wsam:Action="http://LogicaClasesNew/WsIcategoria/addCatHijaToCatPadreResponse" message="tns:addCatHijaToCatPadreResponse"></output>
</operation>
<operation name="RemoveProductoCategoria">
<input wsam:Action="http://LogicaClasesNew/WsIcategoria/RemoveProductoCategoriaRequest" message="tns:RemoveProductoCategoria"></input>
<output wsam:Action="http://LogicaClasesNew/WsIcategoria/RemoveProductoCategoriaResponse" message="tns:RemoveProductoCategoriaResponse"></output>
</operation>
<operation name="getListadoProductosXcat">
<input wsam:Action="http://LogicaClasesNew/WsIcategoria/getListadoProductosXcatRequest" message="tns:getListadoProductosXcat"></input>
<output wsam:Action="http://LogicaClasesNew/WsIcategoria/getListadoProductosXcatResponse" message="tns:getListadoProductosXcatResponse"></output>
</operation>
<operation name="getListadoCategoriaXcate">
<input wsam:Action="http://LogicaClasesNew/WsIcategoria/getListadoCategoriaXcateRequest" message="tns:getListadoCategoriaXcate"></input>
<output wsam:Action="http://LogicaClasesNew/WsIcategoria/getListadoCategoriaXcateResponse" message="tns:getListadoCategoriaXcateResponse"></output>
</operation>
</portType>
<binding name="WsIcategoriaPortBinding" type="tns:WsIcategoria">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="findCategoria">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="editCategoria">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getTieneProd">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="createCategoria">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="createCategoriacpadre">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="addProductoCategoria">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="findCategoriaEntities">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="addCatHijaToCatPadre">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="RemoveProductoCategoria">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getListadoProductosXcat">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getListadoCategoriaXcate">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="WsIcategoriaService">
<port name="WsIcategoriaPort" binding="tns:WsIcategoriaPortBinding">
<soap:address location="http://localhost:8280/icategoria"></soap:address>
</port>
</service>
</definitions>