ClienteWebPrueba/web/WEB-INF/wsdl/localhost_8280/icliente.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><xs:schema xmlns:tns="http://LogicaClasesNew/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://LogicaClasesNew/">

<xs:element name="createCliente" type="tns:createCliente"></xs:element>

<xs:element name="createClienteResponse" type="tns:createClienteResponse"></xs:element>

<xs:element name="findCliente" type="tns:findCliente"></xs:element>

<xs:element name="findClienteEntities" type="tns:findClienteEntities"></xs:element>

<xs:element name="findClienteEntitiesResponse" type="tns:findClienteEntitiesResponse"></xs:element>

<xs:element name="findClienteResponse" type="tns:findClienteResponse"></xs:element>

<xs:element name="getListadoOrdenesXcli" type="tns:getListadoOrdenesXcli"></xs:element>

<xs:element name="getListadoOrdenesXcliResponse" type="tns:getListadoOrdenesXcliResponse"></xs:element>

<xs:complexType name="findCliente">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findClienteResponse">
<xs:sequence>
<xs:element name="return" type="tns:cliente" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cliente">
<xs:complexContent>
<xs:extension base="tns:usuario">
<xs:sequence></xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="usuario" abstract="true">
<xs:sequence>
<xs:element name="Nickname" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="Nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="Apellido" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="FechNacim" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="password" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="Mail" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="foto" type="xs:base64Binary" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findClienteEntities">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="findClienteEntitiesResponse">
<xs:sequence>
<xs:element name="return" type="tns:cliente" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getListadoOrdenesXcli">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getListadoOrdenesXcliResponse">
<xs:sequence>
<xs:element name="return" type="tns:ordenCompra" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ordenCompra">
<xs:sequence>
<xs:element name="Numero" type="xs:int"></xs:element>
<xs:element name="FechaOrden" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="FechaOrdenP" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="FechaOrdenC" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="precioTotal" type="xs:float"></xs:element>
<xs:element name="bajaLogica" type="xs:boolean"></xs:element>
<xs:element name="cliente" type="tns:cliente" minOccurs="0"></xs:element>
<xs:element name="estado" type="tns:estado" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createCliente">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg2" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg3" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg4" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg5" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createClienteResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:simpleType name="estado">
<xs:restriction base="xs:string">
<xs:enumeration value="RECIBIDA"></xs:enumeration>
<xs:enumeration value="PREPARADA"></xs:enumeration>
<xs:enumeration value="CANCELADA"></xs:enumeration>
<xs:enumeration value="CONFIRMADA"></xs:enumeration>
</xs:restriction>
</xs:simpleType>
</xs:schema>