ClienteWebPrueba/web/WEB-INF/wsdl/localhost_8280/icliente.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://LogicaClasesNew/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://LogicaClasesNew/" name="WsIclienteService">
<types>
<xsd:schema>
<xsd:import namespace="http://LogicaClasesNew/" schemaLocation="http://localhost:8280/icliente?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="findClienteEntities">
<part name="parameters" element="tns:findClienteEntities"></part>
</message>
<message name="findClienteEntitiesResponse">
<part name="parameters" element="tns:findClienteEntitiesResponse"></part>
</message>
<message name="getListadoOrdenesXcli">
<part name="parameters" element="tns:getListadoOrdenesXcli"></part>
</message>
<message name="getListadoOrdenesXcliResponse">
<part name="parameters" element="tns:getListadoOrdenesXcliResponse"></part>
</message>
<message name="createCliente">
<part name="parameters" element="tns:createCliente"></part>
</message>
<message name="createClienteResponse">
<part name="parameters" element="tns:createClienteResponse"></part>
</message>
<message name="findCliente">
<part name="parameters" element="tns:findCliente"></part>
</message>
<message name="findClienteResponse">
<part name="parameters" element="tns:findClienteResponse"></part>
</message>
<portType name="WsIcliente">
<operation name="findClienteEntities">
<input wsam:Action="http://LogicaClasesNew/WsIcliente/findClienteEntitiesRequest" message="tns:findClienteEntities"></input>
<output wsam:Action="http://LogicaClasesNew/WsIcliente/findClienteEntitiesResponse" message="tns:findClienteEntitiesResponse"></output>
</operation>
<operation name="getListadoOrdenesXcli">
<input wsam:Action="http://LogicaClasesNew/WsIcliente/getListadoOrdenesXcliRequest" message="tns:getListadoOrdenesXcli"></input>
<output wsam:Action="http://LogicaClasesNew/WsIcliente/getListadoOrdenesXcliResponse" message="tns:getListadoOrdenesXcliResponse"></output>
</operation>
<operation name="createCliente">
<input wsam:Action="http://LogicaClasesNew/WsIcliente/createClienteRequest" message="tns:createCliente"></input>
<output wsam:Action="http://LogicaClasesNew/WsIcliente/createClienteResponse" message="tns:createClienteResponse"></output>
</operation>
<operation name="findCliente">
<input wsam:Action="http://LogicaClasesNew/WsIcliente/findClienteRequest" message="tns:findCliente"></input>
<output wsam:Action="http://LogicaClasesNew/WsIcliente/findClienteResponse" message="tns:findClienteResponse"></output>
</operation>
</portType>
<binding name="WsIclientePortBinding" type="tns:WsIcliente">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="findClienteEntities">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getListadoOrdenesXcli">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="createCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="findCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="WsIclienteService">
<port name="WsIclientePort" binding="tns:WsIclientePortBinding">
<soap:address location="http://localhost:8280/icliente"></soap:address>
</port>
</service>
</definitions>