ClienteWebPrueba/web/WEB-INF/wsdl/localhost_8280/iproducto.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://LogicaClasesNew/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://LogicaClasesNew/" name="WsIproductoService">
<types>
<xsd:schema>
<xsd:import namespace="http://LogicaClasesNew/" schemaLocation="http://localhost:8280/iproducto?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="createProducto">
<part name="parameters" element="tns:createProducto"></part>
</message>
<message name="createProductoResponse">
<part name="parameters" element="tns:createProductoResponse"></part>
</message>
<message name="findProductoEntities">
<part name="parameters" element="tns:findProductoEntities"></part>
</message>
<message name="findProductoEntitiesResponse">
<part name="parameters" element="tns:findProductoEntitiesResponse"></part>
</message>
<message name="findProducto">
<part name="parameters" element="tns:findProducto"></part>
</message>
<message name="findProductoResponse">
<part name="parameters" element="tns:findProductoResponse"></part>
</message>
<message name="findProducto2">
<part name="parameters" element="tns:findProducto2"></part>
</message>
<message name="findProducto2Response">
<part name="parameters" element="tns:findProducto2Response"></part>
</message>
<message name="editProducto">
<part name="parameters" element="tns:editProducto"></part>
</message>
<message name="editProductoResponse">
<part name="parameters" element="tns:editProductoResponse"></part>
</message>
<message name="asignarCate">
<part name="parameters" element="tns:asignarCate"></part>
</message>
<message name="asignarCateResponse">
<part name="parameters" element="tns:asignarCateResponse"></part>
</message>
<message name="getListadoCategoriasXprod">
<part name="parameters" element="tns:getListadoCategoriasXprod"></part>
</message>
<message name="getListadoCategoriasXprodResponse">
<part name="parameters" element="tns:getListadoCategoriasXprodResponse"></part>
</message>
<portType name="WsIproducto">
<operation name="createProducto">
<input wsam:Action="http://LogicaClasesNew/WsIproducto/createProductoRequest" message="tns:createProducto"></input>
<output wsam:Action="http://LogicaClasesNew/WsIproducto/createProductoResponse" message="tns:createProductoResponse"></output>
</operation>
<operation name="findProductoEntities">
<input wsam:Action="http://LogicaClasesNew/WsIproducto/findProductoEntitiesRequest" message="tns:findProductoEntities"></input>
<output wsam:Action="http://LogicaClasesNew/WsIproducto/findProductoEntitiesResponse" message="tns:findProductoEntitiesResponse"></output>
</operation>
<operation name="findProducto">
<input wsam:Action="http://LogicaClasesNew/WsIproducto/findProductoRequest" message="tns:findProducto"></input>
<output wsam:Action="http://LogicaClasesNew/WsIproducto/findProductoResponse" message="tns:findProductoResponse"></output>
</operation>
<operation name="findProducto2">
<input wsam:Action="http://LogicaClasesNew/WsIproducto/findProducto2Request" message="tns:findProducto2"></input>
<output wsam:Action="http://LogicaClasesNew/WsIproducto/findProducto2Response" message="tns:findProducto2Response"></output>
</operation>
<operation name="editProducto">
<input wsam:Action="http://LogicaClasesNew/WsIproducto/editProductoRequest" message="tns:editProducto"></input>
<output wsam:Action="http://LogicaClasesNew/WsIproducto/editProductoResponse" message="tns:editProductoResponse"></output>
</operation>
<operation name="asignarCate">
<input wsam:Action="http://LogicaClasesNew/WsIproducto/asignarCateRequest" message="tns:asignarCate"></input>
<output wsam:Action="http://LogicaClasesNew/WsIproducto/asignarCateResponse" message="tns:asignarCateResponse"></output>
</operation>
<operation name="getListadoCategoriasXprod">
<input wsam:Action="http://LogicaClasesNew/WsIproducto/getListadoCategoriasXprodRequest" message="tns:getListadoCategoriasXprod"></input>
<output wsam:Action="http://LogicaClasesNew/WsIproducto/getListadoCategoriasXprodResponse" message="tns:getListadoCategoriasXprodResponse"></output>
</operation>
</portType>
<binding name="WsIproductoPortBinding" type="tns:WsIproducto">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="createProducto">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="findProductoEntities">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="findProducto">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="findProducto2">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="editProducto">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="asignarCate">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getListadoCategoriasXprod">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="WsIproductoService">
<port name="WsIproductoPort" binding="tns:WsIproductoPortBinding">
<soap:address location="http://localhost:8280/iproducto"></soap:address>
</port>
</service>
</definitions>