directMarket-webImp/src/conf/xml-resources/web-service-references/icliente/wsdl/localhost_8280/icliente.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><xs:schema xmlns:tns="http://Logica_Clases/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Logica_Clases/">

<xs:element name="createCliente" type="tns:createCliente"></xs:element>

<xs:element name="createCliente2" type="tns:createCliente2"></xs:element>

<xs:element name="createCliente2Response" type="tns:createCliente2Response"></xs:element>

<xs:element name="createClienteResponse" type="tns:createClienteResponse"></xs:element>

<xs:element name="findCliente" type="tns:findCliente"></xs:element>

<xs:element name="findClienteEntities" type="tns:findClienteEntities"></xs:element>

<xs:element name="findClienteEntitiesResponse" type="tns:findClienteEntitiesResponse"></xs:element>

<xs:element name="findClienteResponse" type="tns:findClienteResponse"></xs:element>

<xs:complexType name="createCliente">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg2" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg3" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg4" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg5" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createClienteResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="findClienteEntities">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="findClienteEntitiesResponse">
<xs:sequence>
<xs:element name="return" type="tns:cliente" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cliente">
<xs:complexContent>
<xs:extension base="tns:usuario">
<xs:sequence></xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="usuario" abstract="true">
<xs:sequence>
<xs:element name="apellido" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="fechNacim" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="foto" type="xs:base64Binary" minOccurs="0"></xs:element>
<xs:element name="mail" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nickname" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="password" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createCliente2">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg2" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg3" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg4" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg5" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg6" type="xs:base64Binary" nillable="true" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createCliente2Response">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="findCliente">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findClienteResponse">
<xs:sequence>
<xs:element name="return" type="tns:cliente" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>