directMarket-webImp/src/conf/xml-resources/web-service-references/iproducto/wsdl/localhost_8280/iproducto.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><xs:schema xmlns:tns="http://Logica_Clases/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Logica_Clases/">

<xs:element name="asignarCate" type="tns:asignarCate"></xs:element>

<xs:element name="asignarCateResponse" type="tns:asignarCateResponse"></xs:element>

<xs:element name="createProducto" type="tns:createProducto"></xs:element>

<xs:element name="createProducto2" type="tns:createProducto2"></xs:element>

<xs:element name="createProducto2Response" type="tns:createProducto2Response"></xs:element>

<xs:element name="createProductoResponse" type="tns:createProductoResponse"></xs:element>

<xs:element name="editProducto" type="tns:editProducto"></xs:element>

<xs:element name="editProductoResponse" type="tns:editProductoResponse"></xs:element>

<xs:element name="findProducto" type="tns:findProducto"></xs:element>

<xs:element name="findProducto2" type="tns:findProducto2"></xs:element>

<xs:element name="findProducto2Response" type="tns:findProducto2Response"></xs:element>

<xs:element name="findProductoEntities" type="tns:findProductoEntities"></xs:element>

<xs:element name="findProductoEntitiesResponse" type="tns:findProductoEntitiesResponse"></xs:element>

<xs:element name="findProductoResponse" type="tns:findProductoResponse"></xs:element>

<xs:complexType name="editProducto">
<xs:sequence>
<xs:element name="arg0" type="xs:int"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg2" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg3" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg4" type="xs:float"></xs:element>
<xs:element name="arg5" type="tns:proveedor" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="proveedor">
<xs:complexContent>
<xs:extension base="tns:usuario">
<xs:sequence>
<xs:element name="Compania" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="Web" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="listaproductos" type="tns:producto" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="usuario" abstract="true">
<xs:sequence>
<xs:element name="apellido" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="fechNacim" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="foto" type="xs:base64Binary" minOccurs="0"></xs:element>
<xs:element name="mail" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nickname" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="password" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="producto">
<xs:sequence>
<xs:element name="NumRef" type="xs:int"></xs:element>
<xs:element name="Nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="Descripcion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="Especificacion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="precio" type="xs:float"></xs:element>
<xs:element name="listacategorias" type="tns:categoria" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="Foto0" type="xs:base64Binary" minOccurs="0"></xs:element>
<xs:element name="Foto1" type="xs:base64Binary" minOccurs="0"></xs:element>
<xs:element name="Foto2" type="xs:base64Binary" minOccurs="0"></xs:element>
<xs:element name="proveedor" type="tns:proveedor" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="categoria">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="tieneProductos" type="xs:boolean" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editProductoResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="createProducto">
<xs:sequence>
<xs:element name="arg0" type="xs:int"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg2" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg3" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg4" type="xs:float"></xs:element>
<xs:element name="arg5" type="tns:proveedor" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createProductoResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="createProducto2">
<xs:sequence>
<xs:element name="arg0" type="xs:int"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg2" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg3" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg4" type="xs:float"></xs:element>
<xs:element name="arg5" type="tns:proveedor" minOccurs="0"></xs:element>
<xs:element name="arg6" type="xs:base64Binary" nillable="true" minOccurs="0"></xs:element>
<xs:element name="arg7" type="xs:base64Binary" nillable="true" minOccurs="0"></xs:element>
<xs:element name="arg8" type="xs:base64Binary" nillable="true" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createProducto2Response">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="findProductoEntities">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="findProductoEntitiesResponse">
<xs:sequence>
<xs:element name="return" type="tns:producto" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="asignarCate">
<xs:sequence>
<xs:element name="arg0" type="xs:int"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="asignarCateResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="findProducto">
<xs:sequence>
<xs:element name="arg0" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findProductoResponse">
<xs:sequence>
<xs:element name="return" type="tns:producto" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findProducto2">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findProducto2Response">
<xs:sequence>
<xs:element name="return" type="tns:producto" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>