directMarket-webImp/src/conf/xml-resources/web-service-references/iproveedor/wsdl/localhost_8280/iproveedor.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Logica_Clases/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Logica_Clases/" name="Ws_IProveedorService">
<types>
<xsd:schema>
<xsd:import namespace="http://Logica_Clases/" schemaLocation="http://localhost:8280/iproveedor?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="createProveedor">
<part name="parameters" element="tns:createProveedor"></part>
</message>
<message name="createProveedorResponse">
<part name="parameters" element="tns:createProveedorResponse"></part>
</message>
<message name="PreexistingEntityException">
<part name="fault" element="tns:PreexistingEntityException"></part>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"></part>
</message>
<message name="createProveedor2">
<part name="parameters" element="tns:createProveedor2"></part>
</message>
<message name="createProveedor2Response">
<part name="parameters" element="tns:createProveedor2Response"></part>
</message>
<message name="addProductoProveedor">
<part name="parameters" element="tns:addProductoProveedor"></part>
</message>
<message name="addProductoProveedorResponse">
<part name="parameters" element="tns:addProductoProveedorResponse"></part>
</message>
<message name="NonexistentEntityException">
<part name="fault" element="tns:NonexistentEntityException"></part>
</message>
<message name="findProveedorEntities">
<part name="parameters" element="tns:findProveedorEntities"></part>
</message>
<message name="findProveedorEntitiesResponse">
<part name="parameters" element="tns:findProveedorEntitiesResponse"></part>
</message>
<message name="RemoveProductoProveedor">
<part name="parameters" element="tns:RemoveProductoProveedor"></part>
</message>
<message name="RemoveProductoProveedorResponse">
<part name="parameters" element="tns:RemoveProductoProveedorResponse"></part>
</message>
<message name="findProveedor">
<part name="parameters" element="tns:findProveedor"></part>
</message>
<message name="findProveedorResponse">
<part name="parameters" element="tns:findProveedorResponse"></part>
</message>
<portType name="Ws_IProveedor">
<operation name="createProveedor">
<input wsam:Action="http://Logica_Clases/Ws_IProveedor/createProveedorRequest" message="tns:createProveedor"></input>
<output wsam:Action="http://Logica_Clases/Ws_IProveedor/createProveedorResponse" message="tns:createProveedorResponse"></output>
<fault message="tns:PreexistingEntityException" name="PreexistingEntityException" wsam:Action="http://Logica_Clases/Ws_IProveedor/createProveedor/Fault/PreexistingEntityException"></fault>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Logica_Clases/Ws_IProveedor/createProveedor/Fault/Exception"></fault>
</operation>
<operation name="createProveedor2">
<input wsam:Action="http://Logica_Clases/Ws_IProveedor/createProveedor2Request" message="tns:createProveedor2"></input>
<output wsam:Action="http://Logica_Clases/Ws_IProveedor/createProveedor2Response" message="tns:createProveedor2Response"></output>
<fault message="tns:PreexistingEntityException" name="PreexistingEntityException" wsam:Action="http://Logica_Clases/Ws_IProveedor/createProveedor2/Fault/PreexistingEntityException"></fault>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Logica_Clases/Ws_IProveedor/createProveedor2/Fault/Exception"></fault>
</operation>
<operation name="addProductoProveedor">
<input wsam:Action="http://Logica_Clases/Ws_IProveedor/addProductoProveedorRequest" message="tns:addProductoProveedor"></input>
<output wsam:Action="http://Logica_Clases/Ws_IProveedor/addProductoProveedorResponse" message="tns:addProductoProveedorResponse"></output>
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://Logica_Clases/Ws_IProveedor/addProductoProveedor/Fault/NonexistentEntityException"></fault>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Logica_Clases/Ws_IProveedor/addProductoProveedor/Fault/Exception"></fault>
</operation>
<operation name="findProveedorEntities">
<input wsam:Action="http://Logica_Clases/Ws_IProveedor/findProveedorEntitiesRequest" message="tns:findProveedorEntities"></input>
<output wsam:Action="http://Logica_Clases/Ws_IProveedor/findProveedorEntitiesResponse" message="tns:findProveedorEntitiesResponse"></output>
</operation>
<operation name="RemoveProductoProveedor">
<input wsam:Action="http://Logica_Clases/Ws_IProveedor/RemoveProductoProveedorRequest" message="tns:RemoveProductoProveedor"></input>
<output wsam:Action="http://Logica_Clases/Ws_IProveedor/RemoveProductoProveedorResponse" message="tns:RemoveProductoProveedorResponse"></output>
</operation>
<operation name="findProveedor">
<input wsam:Action="http://Logica_Clases/Ws_IProveedor/findProveedorRequest" message="tns:findProveedor"></input>
<output wsam:Action="http://Logica_Clases/Ws_IProveedor/findProveedorResponse" message="tns:findProveedorResponse"></output>
</operation>
</portType>
<binding name="Ws_IProveedorPortBinding" type="tns:Ws_IProveedor">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="createProveedor">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="PreexistingEntityException">
<soap:fault name="PreexistingEntityException" use="literal"></soap:fault>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="createProveedor2">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="PreexistingEntityException">
<soap:fault name="PreexistingEntityException" use="literal"></soap:fault>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="addProductoProveedor">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal"></soap:fault>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="findProveedorEntities">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="RemoveProductoProveedor">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="findProveedor">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="Ws_IProveedorService">
<port name="Ws_IProveedorPort" binding="tns:Ws_IProveedorPortBinding">
<soap:address location="http://localhost:8280/iproveedor"></soap:address>
</port>
</service>
</definitions>