trunk/directMarket-webImp/web/WEB-INF/wsdl/localhost_8280/icliente.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Logica_Clases/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Logica_Clases/" name="Ws_IClienteService">
<types>
<xsd:schema>
<xsd:import namespace="http://Logica_Clases/" schemaLocation="http://localhost:8280/icliente?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="createCliente">
<part name="parameters" element="tns:createCliente"></part>
</message>
<message name="createClienteResponse">
<part name="parameters" element="tns:createClienteResponse"></part>
</message>
<message name="findCliente">
<part name="parameters" element="tns:findCliente"></part>
</message>
<message name="findClienteResponse">
<part name="parameters" element="tns:findClienteResponse"></part>
</message>
<message name="createCliente2">
<part name="parameters" element="tns:createCliente2"></part>
</message>
<message name="createCliente2Response">
<part name="parameters" element="tns:createCliente2Response"></part>
</message>
<message name="findClienteEntities">
<part name="parameters" element="tns:findClienteEntities"></part>
</message>
<message name="findClienteEntitiesResponse">
<part name="parameters" element="tns:findClienteEntitiesResponse"></part>
</message>
<portType name="Ws_ICliente">
<operation name="createCliente">
<input wsam:Action="http://Logica_Clases/Ws_ICliente/createClienteRequest" message="tns:createCliente"></input>
<output wsam:Action="http://Logica_Clases/Ws_ICliente/createClienteResponse" message="tns:createClienteResponse"></output>
</operation>
<operation name="findCliente">
<input wsam:Action="http://Logica_Clases/Ws_ICliente/findClienteRequest" message="tns:findCliente"></input>
<output wsam:Action="http://Logica_Clases/Ws_ICliente/findClienteResponse" message="tns:findClienteResponse"></output>
</operation>
<operation name="createCliente2">
<input wsam:Action="http://Logica_Clases/Ws_ICliente/createCliente2Request" message="tns:createCliente2"></input>
<output wsam:Action="http://Logica_Clases/Ws_ICliente/createCliente2Response" message="tns:createCliente2Response"></output>
</operation>
<operation name="findClienteEntities">
<input wsam:Action="http://Logica_Clases/Ws_ICliente/findClienteEntitiesRequest" message="tns:findClienteEntities"></input>
<output wsam:Action="http://Logica_Clases/Ws_ICliente/findClienteEntitiesResponse" message="tns:findClienteEntitiesResponse"></output>
</operation>
</portType>
<binding name="Ws_IClientePortBinding" type="tns:Ws_ICliente">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="createCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="findCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="createCliente2">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="findClienteEntities">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="Ws_IClienteService">
<port name="Ws_IClientePort" binding="tns:Ws_IClientePortBinding">
<soap:address location="http://localhost:8280/icliente"></soap:address>
</port>
</service>
</definitions>